########################################################################
# Statusbar
########################################################################

style "statusbar" {

$bg[NORMAL] = "#404040"
#fg[NORMAL] = "#404040"

#GtkStatusBar::shadow-type = GTK_SHADOW_NONE

}

widget_class "*<GtkStatusbar>*" style "statusbar"

